version: '3.8'

services:
  mariadb:
    image: mariadb:11.2
    container_name: rockpaperarena_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    volumes: 
      - mariadb_data:/var/lib/mysql
      - ./docker/mariadb/init:/docker-entrypoint-initdb.d
    networks:
      - rockpaperarena_network
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./CiP-04-RockPaperArena/shared:/src/shared
    environment:
      DB_HOST: rockpaperarena_db
      DB_PORT: 3306
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    networks:
      - rockpaperarena_network
  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    networks:
      - rockpaperarena_network

volumes: 
  mariadb_data:
    driver: local

networks:
  rockpaperarena_network:
    driver: bridge
